/* styles.css */

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}


/* cover */

#cover {
    background: #222 url("img/MountainTop.png") center center no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0;
}

.overlay-text {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1.875rem;
    width: 100%;
    height: 100%;
}

#lorem {
    padding-top: 30%;
    padding-left: 11%;
    padding-right: 10%;
}